/* NAV BAR */
#navbar_container {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
}

#navbar_container li {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
}   

#navbar_container li:hover{
    opacity: 50%;
}
.navbar-default{
    transition:500ms ease;
    background:transparent;
    max-height: 8vh;
    min-height: 8vh;
    /* border-bottom: 1px solid #000; */
  }

  .navbar-default.scrolled{
    background:#171716;
    max-height: 5vh;
    min-height: 5vh;
  }

/* general */
#container-body{
    margin: auto;
    border: 0px dashed rgb(23, 171, 67);
}

  /* Home PAGE  */
#homepage_background{
    margin-left: 0px;
    padding: 0px;
}

#homepage_text{
    position: absolute;
    width: 50%;
    height: 25%;
    bottom: 8%;
    left: 25%;
    background-color: transparent;
    /* border: 1px dashed white; */
}

#homepage_text p{
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0px;
    margin-top: 5vh;
    font-size: x-small;
    
}

#scroll-down{
    position:absolute;
    bottom: 0%;
    left: 46%;
    width:max-content;
    height: max-content;
}

#scroll-down a{
    color: transparent; 
    font-size: x-small;
    font-style: normal;
    padding-top: 28px;
}

#scroll-down a:hover{
    opacity: 0.5;
}

#scroll-down a span{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px; 
    border-left: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

/* GENERAL CHANGES */
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-bottom: 1vh;
    padding-top: 1vh;
}

h2 {
    text-align: center;
    font-family: Raleway, 'Times New Roman', Times, serif;
    font-size: medium;
}

h3 {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    font-size: small;
}

#titelbox {
    padding-left: 33vw;
    margin-bottom: 3vh;
}

h5{
    text-align: center;
    font-size: smaller;
}

h6{
    text-align: center;
    font-size: x-small;
    font-weight: 400;
    margin-top: 0px;
    padding-top: 0px;
    font-style: italic;
}

#modal-header{
    padding: 0px; 
    margin: 0px;
}

/* CSS on BIO */
#bio {
    padding-top: 5vh;
    width: 66vw;
    height: max-content;
}

#bio .table-container{
    display: table;
    margin-left: 0px;
    margin-right: 0px;
}

#bio .left-colum-bio{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    position: relative;
}

#bio .bio-text{
    display: table-cell;
    position: relative;
    text-align: right;
}


#bio p {
    font-size:14px;
    word-wrap:break-word;
    margin-top:2.5vh 0px;
    padding-left: 1.5vw;
    color:rgba(0,0,0,0.6);
}


/* CSS on Projects */
#projects{
    padding-top: 5vh;
}

.projectsrow {
    margin-bottom: 5vh;
    vertical-align: middle;
}

#projects p {
    text-align: center;
    font-size: small;
}

#modal-text p{
    text-align: start;
    font-size: small;
}

/* CSS on Contact */
#contact {
    padding-top: 5vh;
    width: 66vw;
    height: max-content;
    margin-bottom: 5vh;
}

/* #contact p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */


.form-control{
    font-size: small;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

#contact label{
    margin-bottom: 0px;
}

/* FOOTER */
#footer {
    background-color: white;
}

/* THE DOTS */
.content_block {
     border: 0px dashed black;
}

.centering{
    margin: auto
}





