@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@298;400&family=Content:wght@700&family=Lora:wght@400;500&display=swap'); 

html body {
     background-color: #FFFCF8 ;  
     margin: auto
}

/* GENERAL CHANGES */
h1 {
    text-align: center;
    font-family: 'Catamaran', serif;
    font-size: large;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: large;
    font-weight: 200;
}


h5{
    text-align: center;
    font-size: smaller;
    font-family: 'Lora', serif;
    font-weight: 400;
}

 p {
    text-align: left;
    font-family: 'Lora', serif;
    font-size: small;
 }

/* NAVBAR */
#navbar_container {
    text-align: center;
    font-family: 'Lora', serif;
    color: #FFFCF8;
}

#navbar_container li {
    text-transform: uppercase;
    font-family: 'Lora', serif;
    color: #FFFCF8;
}   

#navbar_container li:hover{
    opacity: 50%;
}

.navbar-default{
    transition:500ms ease;
    background:transparent;
    max-height: 8vh;
    min-height: 8vh;
    /* border-bottom: 1px solid #000; */
}

.navbar-default.scrolled{
    background: #121715 ;
    max-height: 5vh;
    min-height: 5vh;
}


/* HOMEPAGE */
#homepage_background{
    margin-left: 0px;
    padding: 0px;
}

#scroll-down{
    position:absolute;
    bottom: 1%;
    left: 40vw;
    width:20vw;
    height: max-content;
}

#scroll-down p{
    font-size: xx-small;
    font-style: italic ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFCF8;
    padding-bottom: 0px;
    margin-bottom: 1px;
}

#scroll-down a{
    color: transparent; 
    font-size: x-small;
    font-style: normal;
    padding-top: 0px;
}

#scroll-down a:hover{
    opacity: 0.5;
}

#scroll-down a span{
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;  
    border-left: 1px solid #FFFCF8;
    border-bottom: 1px solid #FFFCF8;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}


/* BIO */
#bio {
    width: 66vw;
    height: 100vh;
}

#background_bio {
    width: 100vw;
    height: 105vh;
    background-color: #121715;
    z-index: -1;
    position: absolute;
    left: 0px;
    margin-top: -5vh;
}


#bio h1{
    color: #FFFCF8;
}

#bio p {
    color: #FFFCF8;
}

#bio-social-buttons {
  color: #D95830;
  text-align: center;
  font-size: large;
  opacity: 100%;
}

#bio-social-buttons .fa-twitter {
  padding-left: 80%;
}

#bio-social-buttons .fa-vimeo {
  padding-right: 80%;
}

#bio-social-buttons i:hover{
  color: #C2FFED
}
 
#bio .btn{
    background-color: #D95830;
    color: #121715;
    border: 0px;
    font-family: 'Catamaran', sans-serif;
}


/* PROJECTS */

#projects{
    padding-top: 5vh;
}

#projects .row {
    margin-bottom: 15vh;
    margin-top: 15vh;
}

#projects p {
    color: #121715;
}

#projects h2{
    color: #121715; 
}

#projects h5{
    color: #121715; 
}

#projects .btn {
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    background-color: #D95830;
}

/* MODALS */
#modal-header{
    padding: 0px; 
    margin: 0px;
}

#modal .row{
    margin-top: auto;
    margin-bottom: auto;

}

/* CONTACT */
#contact {
    padding-top: 0px;
    width: 66vw; 
    margin-bottom: 0px;
    background-color: #121715;
}

#contact h1{
    color: #FFFCF8;
    margin-top: 0%;
}

#contact p{
    color: #FFFCF8;
    margin-bottom: 0px;
}

#contact h5{
    color: #FFFCF8;
}

#contact .btn{
    background-color: #D95830;
    color: #121715;
    border: 0px; 
}


.form-control{
    font-size: small;
    background-color: #FFFCF8;
}

#contact label{
    margin-bottom: 0px;
}



/* THE DOTS */
.content_block {
     border: 1px dashed rgb(130, 16, 16);
}

.centering{
    margin: auto
}





