/* NAV BAR */
#navbar_container {
    text-align: center;
    font-family: 'Crimson Text', 'Times New Roman', Times, serif, Tahoma, sans-serif;
    color: #FFFCF8;
}

#navbar_container li {
    text-transform: uppercase;
    font-family: 'Crimson Text', 'Times', Times, serif, Tahoma, sans-serif;
    color: #FFFCF8;
}   

#navbar_container li:hover{
    opacity: 50%;
}
.navbar-default{
    transition:500ms ease;
    background:transparent;
    max-height: 8vh;
    min-height: 8vh;
    /* border-bottom: 1px solid #000; */
  }

  .navbar-default.scrolled{
    background: #121715 ;
    max-height: 5vh;
    min-height: 5vh;
  }

/* general */
#container-body{
    margin: auto;
    border: 0px dashed rgb(23, 171, 67);
}

html body {
    background-color: #FFFCF8 ;  
}

/* Adding fonts  */
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@300;400&family=Crimson+Text:wght@400;600&family=Quicksand:wght@300;400;500&display=swap');

 #homepage_background{
    margin-left: 0px;
    padding: 0px;
}


#homepage_text{
    position: absolute;
    width: 50%;
    height: 25%;
    bottom: 12%;
    left: 25%;
    background-color: transparent;
    color: #FFFCF8;;
    /* border: 1px dashed white; */
}

#homepage_text p{
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0px;
    margin-top: 5vh;
    font-size: x-small;   
}

#homepage_text h1{
    font-size: x-large;
    color: #FFFCF8;
}

#hompage_text h2{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

#scroll-down{
    position:absolute;
    bottom: 1%;
    left: 40vw;
    width:20vw;
    height: max-content;
}

#scroll-down p{
    font-size: xx-small;
    font-style: italic ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFCF8;
    padding-bottom: 0px;
    margin-bottom: 1px;
}

#scroll-down a{
    color: transparent; 
    font-size: x-small;
    font-style: normal;
    padding-top: 0px;
}

#scroll-down a:hover{
    opacity: 0.5;
}

#scroll-down a span{
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;  
    border-left: 1px solid #FFFCF8;
    border-bottom: 1px solid #FFFCF8;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

/* GENERAL CHANGES */
h1 {
    text-align: center;
    font-family: 'Libre Baskerville', 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-bottom: 1vh;
    padding-top: 1vh;
}

h2 {
    text-align: center;
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    font-size: medium;
}

h3 {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    font-size: small;
}

#titelbox {
    padding-left: 33vw;
    margin-bottom: 3vh;
}

h5{
    text-align: center;
    font-size: smaller;
}

h6{
    text-align: center;
    font-size: x-small;
    font-weight: 400;
    margin-top: 0px;
    padding-top: 0px;
    font-style: italic;
}

#modal-header{
    padding: 0px; 
    margin: 0px;
}

/* BIO */
#bio {
    padding-top: 5vh;
    width: 66vw;
    height: 100vh;
}

#background_bio {
    width: 100vw;
    height: 102%;
    background-color: #121715;
    z-index: -1;
    position: absolute;
    left: 0px;
    margin-top: -7vh;
}

#bio .table-container{
    display: table;
    margin-left: 0px;
    margin-right: 0px;
}

#bio .left-colum-bio{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    position: relative;
}

#bio h1{
    color: #FFFCF8;
    font-family: 'Crimson Text', 'Times New Roman', serif;
}

#bio p {
    font-size:14px;
    word-wrap:break-word;
    margin-top:2.5vh 0px;
    padding-left: 1.5vw;
    color: #FFFCF8;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#bio-social-buttons {
  color: #D95830;
  text-align: center;
  font-size: large;
  opacity: 100%;
}

#bio-social-buttons .fa-twitter {
  padding-left: 80%;
}

#bio-social-buttons .fa-vimeo {
  padding-right: 80%;
}

#bio-social-buttons i:hover{
  color: #C2FFED
}
 
#bio .btn{
    background-color: #D95830;
    color: #121715;
    border: 0px;
    font-family: 'Quicksand', sans-serif;
}




/* CSS on Projects */
#projects{
    padding-top: 5vh;
}

.projectsrow {
    margin-bottom: 5vh;
    margin-top: 5vh;
    vertical-align: middle;
}

#projects p {
    text-align: center;
    font-size: small;
    color: #121715;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#projects h1{
    color: #121715;
    font-family: 'Crimson Text', serif;
}

#projects h2{
    color: #121715; 
    font-family: 'Crimson Text', serif;
    font-weight: 200;
    text-transform: uppercase;
}

#projects h5{
    color: #121715; 
    font-family: 'Quicksand', serif;
    font-weight: 200;
}

#projects .btn {
    font-family: 'Quicksand', sans-serif;
}

#modal-text p{
    text-align: start;
    font-size: small;
    color: #121715;
}

/* CSS on Contact */
#contact {
    padding-top: 5vh;
    width: 66vw;
    height: max-content;
    margin-bottom: 0vh;
}

#contact h1{
    color: #FFFCF8;
    margin-top: 0%;
    font-family: 'Crimson Text', sans-serif;
    text-transform: uppercase;
}

#contact p{
    color: #FFFCF8;
    font-family: 'Quicksand', serif;
}

#contact h5{
    color: #FFFCF8;
}

#background_contact {
    width: 100vw;
    height: 65%;
    background-color: #121715;
    z-index: -1;
    position: absolute;
    left: 0px;
    margin-top: -2vh;
}

#contact .btn{
    background-color: #D95830;
    color: #121715;
    border: 0px; 
}


.form-control{
    font-size: small;
    background-color: #FFFCF8;
    font-family: 'Quicksand', serif;
}

#contact label{
    margin-bottom: 0px;
}



/* THE DOTS */
.content_block {
     border: 0px dashed rgb(130, 16, 16);
}

.centering{
    margin: auto
}





