/* #social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  margin: 50%;
} */


/* #social-test li {
    color: rgba(167, 129, 167, 0.6);
    list-style-type: none;
    display: inline;
    line-height: 40px;
    padding-left: 20%;
    cursor: pointer;
    /* margin-left: 20px; */
    /* margin-bottom: 20px; 
    transition: ease .3s;
    font-size: 20px;

  }

/* #social-test li:hover {
    color: rgba(167, 146, 129, 1);
  } */

/* #social-test .social {
    padding-left: 0px;
} */

/* #social-test .social .fa {
    /* font-size: 10vw; 
}
 */


/* .social:hover > li {
  opacity: 0.5;
} */

/* .social:hover > li:hover {
  opacity: 1;
} */


/* MY OWN SOCIAL BUTTONS */
/* TODO later: if over the div, half opacity all but one! */

#bio-social-buttons {
  color:rgba(167, 129, 167, 0.6);
  text-align: center;
  font-size: large;
}

#bio-social-buttons .fa-twitter {
  padding-left: 80%;
}

#bio-social-buttons .fa-vimeo {
  padding-right: 80%;
}

#bio-social-buttons i:hover{
  color: rgba(167, 146, 129, 1);
}

